.main-header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: var(--paleta-secundaria-ternary);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    flex-wrap: wrap;
    width: 100%;

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 60px;
        width: 20vh;
        font-size: 24px;
        font-weight: bold;
    }

    #cart{
        background-color: rgb(228, 228, 228);
        position: relative;
        height: 47px;
        width: 47px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        #quantity{
            position: absolute;
            bottom: -5px;
            right: -5px;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(15, 153, 72);
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }

    .user-info{
        height: 60px;
        width: 20vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}