@import "primeflex/primeflex.css";
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

:root {
	--font-color-light: #f6f5f2;
	--font-color-dark: #000;
	--font-main: Roboto, "Helvetica Neue", sans-serif;

	--paleta-secundaria-primary: #6eacda;
	--paleta-secundaria-secondary: #179bae;
	--paleta-secundaria-ternary: #03346e;
}

.__next{
    width: 100%; 
    height:100%; 
    overflow:hidden; 
}

body{
    margin: 0px !important;
}

html, body, main, body {
    width: 100%; 
    height:100%; 
    overflow:hidden; 
}